.button1 {border-radius: 12px;font-size: 30px;color: #0A84B0}
.button2 {border-radius: 12px;font-size: 20px;color: #0A84B0}
.label {font-size: 25px; font-family:"Comic Sans MS" ;color: #0A84B0}
.label1 {font-size:40px; color: rgb(11, 140, 246);text-align: center}
.textbox{font-size: 25px; font-family:"Comic Sans MS" ;color: #0A84B0}
.limiter
{
    width: 300px;
    margin: 0 auto;
    margin-top:200px;
}
body
{
    
    background-image:url("background.jpg") ;
    background-size: 100% ;
}
